body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
    background: #f9f9f9;
}

ul {
    list-style-type: none;
    padding: 0;
}

.note-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.note-text-container {
    flex-grow: 1;
    cursor: pointer;
}

.note-text {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;
}

.delete-button {
    margin-left: 10px;
    border: none;
    background: #ffd966;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background: #cc5f00;
}
